@charset "UTF-8"; 

/*
    WINDBALL PRIVATE STYLE
*/ 

body {
    background: #F4F3EF;
}

html,body {
	height: 100%;
}

p {
    font-size: 1.0em;
    font-weight: 400;
    line-height: 1.5em;
    color: rgba(7, 7, 7, 0.877);
}

.card.wb-login-card{
    width: 360px;
}

/* ---------------------------------------------------
   FORM CONTROL
----------------------------------------------------- */

.form-label.wb-form-label {
    font-weight: 500;
    color: black;
}

